<h1> Todo List <h1>

<table width="100%">
    <thead align="left" style="line-height: 50px;">
        <tr>
            <th style="color: red;">Title</th>
            <th style="color: red;">Description</th>
            <th style="color: red;">Due</th>
            <th style="color: red;">Done</th>
        </tr>
    </thead>

    <tbody align="left">
    <% @tasks.each do |task| %>
        <tr style="line-height: 50px; font-size: 20px">
            <td><%= task.title %></td>
            <td><%= task.description %></td>
            <td><%= task.due %></td>
            <td><%= task.done %></td>
            <td><%= link_to 'Alterar tarefa', edit_task_path(task) %></td>
            <td><%= link_to 'Remover tarefa' %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br><br><%= link_to 'Criar tarefa', new_task_path %>
